.paragraph1{
  color: blue;
  text-transform: capitalize;
  margin: 0 auto;
  width: 400px;
}
#title{
  width: 400px;
  font-family: courier;
  margin-left: 20px;
}
body{
backround-image:
  url(https://images.pexels.com/photos/20787/pexels-photo.jpg?cs=srgb&dl=animal-pet-cat-20787.jpg&fm=jpg)
  
}


