.paragraph1{
  color: black;
  text-transform: capitalize;
  margin: 0 auto;
  width: 400px;
}
#title{
  width: 400px;
  font-family: courier;
  margin-left: 20px;
}
body{
backround: -webkit-linear-gradient(-45deg, #35577D, #141E30);
  
}


